pkgbase = python-vispy
	pkgdesc = A high-performance interactive 2D/3D data visualization library.
	pkgver = 0.14.0
	pkgrel = 1
	url = https://vispy.org
	arch = any
	license = BSD
	makedepends = python
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	makedepends = python-numpy
	makedepends = cython
	makedepends = python-setuptools-scm
	makedepends = npm
	depends = python-numpy
	depends = python-freetype-py
	depends = python-hsluv
	depends = python-kiwisolver
	optdepends = ipython: ipython-static
	optdepends = python-pyglet: pyglet
	optdepends = python-pyqt5: pyqt5
	optdepends = python-pyqt6: pyqt6
	optdepends = pyside2: pyside2
	optdepends = pyside6: pyside6
	optdepends = python-pysdl2: sdl2
	optdepends = python-wxpython: wx
	optdepends = python-meshio: io
	optdepends = python-pillow: io
	source = python-vispy-0.14.0.tar.gz::https://github.com/vispy/vispy/archive/v0.14.0.tar.gz
	sha256sums = dd26129b8900c25e265e07fca701e7dffde0fbb52c91f290a7b570532983c9e3

pkgname = python-vispy
