pkgbase = hipsycl-rocm-git
	pkgdesc = Multi-backend implementation of SYCL for CPUs and GPUs
	pkgver = r2241.aa00030b
	pkgrel = 1
	url = https://github.com/AdaptiveCpp/AdaptiveCpp
	arch = x86_64
	license = BSD
	makedepends = cmake
	makedepends = git
	depends = llvm
	depends = lld
	depends = clang
	depends = boost
	depends = openmp
	depends = python
	depends = hip-runtime-amd
	depends = rocm-hip-sdk
	provides = hipsycl-rocm
	provides = hipsycl
	provides = sycl
	source = adaptivecpp::git+https://github.com/AdaptiveCpp/AdaptiveCpp.git
	source = llvmspirv_installdir.patch
	sha256sums = SKIP
	sha256sums = 5d29e81867ecc51afb8cee586162664ea30a407b6e31f8d770427ad8c2b42bf1

pkgname = hipsycl-rocm-git
