pkgbase = mavproxy
	pkgdesc = MAVLink proxy and command line ground station.
	pkgver = 1.8.71
	pkgrel = 1
	url = https://ardupilot.org/mavproxy
	arch = any
	license = GPL3
	makedepends = python
	makedepends = python-setuptools
	depends = python
	depends = python-pymavlink
	depends = python-opencv
	source = https://files.pythonhosted.org/packages/c8/23/a98a9426dd5ce55076b1669473bca0474affe19173197d31aab3d760c976/mavproxy-1.8.71.tar.gz
	sha256sums = d8fe81fd98bb39e719ee7473e4cbceacd777c8b867df3136e6f81a5444feeb7d

pkgname = mavproxy
